@charset "utf-8";
/* CSS Document */

@font-face {font-family:"Soho";src: url(fonts/soho.otf);}

@font-face {font-family:"Soho-B";src: url(fonts/soho-bold.otf);}

@font-face {font-family:"Soho-EB";src: url(fonts/soho-extrabold.otf);}

@font-face {font-family:"Sans";src: url(fonts/sans.TTF);}


body {

	background-color: #E8E8E8;
	font-family: 'Soho';
	padding-bottom: 20px;
    border: 0;
	font-size: 12px;
	margin: 0 0 100px;	
	height: 100%;
}

/*Styling for the top element in the page (return link)*/
.topreturn {
	margin-top: -15px;
	background-color: black;
	height: 40px;
/*	font-family: 'Sohoma';*/
}

.return li {
	margin-left: 100px;
}

.return li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Soho-B';
	font-weight: 400;
}
/*End of the top page element*/


/* Styling for the banner (second page element)*/
.banner {
	padding-left: 10%;
	background-color: #5C9122;
	background: linear-gradient(#5C9122, #4E7A1D);
	padding-top: 0;
	color: white;
	height: 160px;
}


/*First museum logo*/
.NML img {
 	height: 170px;
	width:126px;
	margin-left: -70px;	
	margin-top: -45px;
}
/*Second museum logo*/
.WM img{
	padding-top: 30px;
	margin-left: 10px;
}
/*Text inside the second page element*/
.banner p {
	font-size: 21px;
	margin-left: 140px;
	padding-top: 5px;
	font-family: 'Soho';
	line-height: 25px;
	font-weight: 400;
	
}
/*End of second page element styling*/

/*Styling for the lower navigation menu, 3rd page element*/
.lowerNav {
	background-color: #293D0A;
}
.lowerNav ul {
	background-color: #293D0A;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.lowerNav li {
    float: left;
	margin-left: -15px;
	margin-right: -10px;
}
.lowerNav li a {
    text-decoration: none;
	display: block;
    color: white;
    padding: 14px 16px;
	font-size: 14px;
	line-height: 20px;
	font-family: 'Soho-B';
	font-weight: 400;
}
.lowerNav li a:hover, .return li a:hover {
	text-decoration: underline;
}

/*End of styling*/

/*Styling for the hidden elements*/

/* Setting the style for the video animation.
Currently set to hide and once displayed will occupy the complete screen.*/	
.videoContainer {
	visibility: hidden;
	position:absolute;
	height:100%;
	width:100%;
	overflow: hidden;
}

.videoContainer video {
	min-width: 100%;
	min-height: 100%;
}

#bonesPic {
	display: none;
	position:absolute;
	height:100%;
	width:100%;
	overflow: hidden;	
}

#thankyou {
	font-family:'Soho-B';
	display: none;
	font-size: 3em;
	color: #293D0A;
	text-align: center;
	margin: 0 auto 200px; /* footer height + space */
	/*	border: solid #293D0A;*/
/*	background-color: white;*/
	min-height: 35vh;
}

#thanks {
	margin-top: 10px;
}


.button {
	font-family: 'Soho-B';
	width: 49.5%;
	background-color: #293D0A;
	border: solid #293D0A;
/*	font-weight: bold;*/
	color:white;
    padding: 10px 20px;
    margin: 10px 0;
/*  border-radius: 12px;*/
    cursor: pointer;
	font-size: 14px;
	display: inline-block;
	text-decoration: none;
/*
	font-family: 'Soho';
	background-color: #293D0A;
	color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 12px;
    cursor: pointer;
	font-size: 18px;
	display: inline-block;
	border: solid black;
	
*/
}
.button:hover {
	background-color: white;
	color: #293D0A;
/*	font-weight: bold;*/
}

/*End of hidden styling*/



#container1 {
/*		display: none;*/
	height: auto;
	margin: 0 auto -80px; /* footer height + space */
	min-height: 100%;
	padding: 0 0 80px; /* footer height + space */
	box-sizing: border-box;
    
}

#container2 {
/*		display: none;*/
	height: auto;
	margin: 0 auto -80px; /* footer height + space */
	min-height: 100%;
	padding: 0 0 80px; /* footer height + space */
	box-sizing: border-box;
    
}


/* Setting the style for elements inside puzzlerow.*/

/* Setting the height, width and style for the 32 individual elements which make up the puzzleboard. */
#puzzlerow div {
	height: 100px;
	width: 100px;
	border-style:solid;
	border-width:thin;
	border-color: gainsboro;
	margin: 0;
	float:left;
	clear:none;
}

/* Setting the height, width and style for the container housing the 32 individual elements. */
#puzzlerow {
	width:816px;
	height:408px;
	margin:auto;
	background-color: white;
	margin-top: 5px;
}

/* Adds space between the bottom of welcome and the top of the puzzleboard. */
.puzzle-container {
	padding-top: 5px;
}

/*End of puzzleboard styling*/

/*Start of dino facts styling*/

#funfacts h3 {
	font-family:'Soho';
	margin-top: 10px;
	font-weight: bold;
	font-size: 32px;
	color: #75b82c;
}
#funfacts {
	text-align: center;
	font-size: 22px;	
	margin-top: 10px;
	background-color: white;
	color:  black;
	font-family:'Sans';
	padding-bottom: 20px;
	line-height: 20px;
/*	font-weight: bold;*/
	
}

#dinofact {
	font-size: 0.8em;
}

/*End of dino facts styling*/

/*Start of styling for the area containing the dino pieces*/

/* Setting the styling and position for the container housing the 32 puzzle pieces. */
.dinosafeplace {
	margin: auto;
	padding: 10px;
	text-align: center;
}


/* Setting the height, width and spacing for each of the 32 puzzle pieces */
#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10, #p11, 
#p12, #p13, #p14, #p15, #p16, #p17, #p18, #p19, #p20, #p21, 
#p22, #p23, #p24, #p25, #p26, #p27, #p28, #p29, #p30, #p31,#p32 {
	width: 100px;
	height: 100px;
	padding-top: 5px;
	padding: 2px;
}

/* Setting the effects once any of puzzle pieces are hovered over. */
.images img:hover {
	transform: scale(1.01);
	filter: drop-shadow(0 0 .8em #608F15);
}

/*End of styling dino pieces*/


/* Empty space used above the dino pieces */
#space {
	border-bottom-style:solid;
	border-bottom-width:5px;
	border-color: #608F15;
	margin-bottom: 15px;
}

/* Styling for footer and all the social icons */
footer {
	background-color: black;
	width: 100%;
    bottom: 0;
	font-size: 1.5em; 
	font-family: sans-serif;
	margin-bottom: -150px;
	color: white; 
	overflow: hidden;
	height: 200px;
	
}
/* The links inside the footer */
footer a {
	color: white;
}
/* The link once hovered */
footer a:hover {
	text-decoration: none;
}

footer p {
	float: right;
	margin-top: -10px;
	
}

footer ul {
	padding-top: 10px;
}
	
/* The following styling is for the icons inside the footer */
.fa {
    padding-top: 6px;
    text-decoration: none;
	font-size: 100%;	
}

#footer-icon, #footer-icon2, #footer-icon3,
#footer-icon4,#footer-icon5,#footer-icon6 {
	font-size: 30px;
	background-color: white;
	width: 40px;
	height: 40px;
	color: black;
	text-align: center;
	border-radius: 6px;
}

.footer-img {
	padding-top: 50px;
}

.footer-nav li, p {
	display: inline;
	font-size: 0.8em;

}

.footer-nav li a {
	margin-top: 10px;
    text-decoration: none;
    color: white;
	
	
}

/* Start of responsive screen styling */
.row {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}
.row:after {
	content: ' ';
	display:table;
	clear:both;
}
.column {
	float: left;
	box-sizing: border-box;
}

@media (min-width : 280px) and (max-width : 650px) {

	 .small-1 {
		width: 8.333%
	}
	 .small-2 {
		width: 16.666%
	}
	 .small-3 {
		width: 25%
	}
	 .small-4 {
		width: 33.333%
	}
	 .small-5 {
		width: 41.666%
	}
	 .small-6 {
		width: 50%
	}
	 .small-7 {
		width: 58.333%
	}
	 .small-8 {
		width: 66.666%
	}
	 .small-9 {
		width: 75%
	}
	 .small-10 {
		width: 83.333%
	}
	 .small-11 {
		width: 91.666%
	}
	 .small-12 {
		width: 100%
	}
	.small-hidden {
		display: none;
	}
}
@media screen and (min-device-width: 43em) 
	{

	.column {
		float:left;
		box-sizing:border-box;
	}

	.large-1 {
		width: 8.333%
	}
	 .large-2 {
		width: 16.666%
	}
	 .large-3 {
		width: 25%
	}
	 .large-4 {
		width: 33.333%
	}
	 .large-5 {
		width: 41.666%

	}
	 .large-6 {
		width: 50%
	}
	 .large-7 {
		width: 58.333%
	}
	 .large-8 {
		width: 66.666%
	}
	 .large-9 {
		width: 75%
	}
	 .large-10 {
		width: 83.333%
	}
	 .large-11 {
		width: 91.666%
	}
	 .large-12 {
		width: 100%
	}
	.small-hidden {
		display: block;
	}
	.large-hidden {
		display: none;
		}
}

